.btnIcone {
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 15rem;
    background-color: transparent;
    border: transparent;
}

.btnIcone:hover {
    cursor: pointer;
}

.imgBtnIcone {
    object-fit: cover;
}

.textoBtnIcone {
    font-size: 1rem;
    font-weight: bold;
    color: #50D002;
}

@media (max-width: 768px) {
    .btnIcone {
        height: 5rem;
        width: 5rem;
    }
}