.cardWrapper {
    max-width: 1100px;
    margin: 0 60px 35px;
    padding: 20px 10px;
    overflow: hidden;
}

.cardItem {
    display: flex !important;
    list-style: none;
}

.cardItem .cardLink {
    user-select: none;
    display: block;
    width: 400px;
    height: 500px;
    padding: 18px;
    border-radius: 12px;
    border: 2px solid transparent;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
    background-color: #F3F6F2;
    transition: 0.2s ease;
}

.cardItem .cardLink:active {
    cursor: grabbing;
}

.cardItem .cardLink:hover {
    border-color: #00743B;
}

.cardLink .cardImage {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.cardLink .badge {
    width: fit-content;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    padding: 8px 16px;
    border-radius: 50px;
    color: #00743B;
    background-color: #45B103;
}

.cardLink .cardTitle {
    font-size: 1.19rem;
    color: #000000;
    font-weight: 600;
}

.cardLink .cardButton {
    height: 55px;
    width: 55px;
    border-radius: 10px;
    margin: 30px 0 5px;
    background: none;
    cursor: pointer;
    border: 2px solid #00743B;
    color: #00743B;
    transform: rotate(-45deg);
    transition: 0.4s ease;
}

.cardLink:hover .cardButton {
    color: #FFFFFF;
    background: #00743B;
}

.cardWrapper .swiper-pagination-bullet {
    height: 13px;
    width: 13px;
    opacity: 0.5;
    background-color: #00743B;
}

.cardWrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.cardWrapper .swiper-button-next,
.cardWrapper .swiper-button-prev {
    color: #00743B;
    margin-top: -35px;
}

@media screen and (max-width: 768) {
    .cardWrapper {
        margin: 0 10px 25px;
    }

    .cardWrapper .swiper-button-next,
    .cardWrapper .swiper-button-prev {
        display: none;
    }
}
