.pergunta {
    font-size: large;
    margin-bottom: 2rem;
}

.alternativas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.alternativas input {
    accent-color: green;
    height: 1.5rem;
    width: 1.5rem;
}

.alternativas label {
    height: 1rem;
}

.alternativas div {
    display: flex;
    gap: 0.5rem;
}