/* Importando a fonte Alexandria */
@font-face {
  font-family: 'Alexandria';
  src: url('./fonts/Alexandria-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Importando a fonte Varela */
@font-face {
  font-family: 'Varela';
  src: url('./fonts/Varela-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
    height: 100dvh;
    margin: 0;
}

h1 {
    color: #50D002;
    font-size: 4rem;
    font-family: 'Alexandria';
}

h2 {
   color: #50D002;
   font-size: 4vh;
   font-family: 'Alexandria';
}

p {
  font-size: 1.2rem;
  font-family: 'Varela'
}

a {
  font-family: 'Varela';
}

.linha {
  border-bottom: 2px solid #50D002;
  position: relative;
}

:root {
  --font--alexandria: 'Alexandria', sans-serif;
  --font--varela: 'Varela', sans-serif;
}

.temaEscuro {
  --corFundo: #000000;
  --corLetra: #FFFFFF;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

html {
  scroll-behavior: smooth;
}