.inicio {
    display: flex;
    flex-direction: column;
}

.objetivos {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
}

.descricoes {
    display: flex;
    flex-direction: column;
}

.descricoes .topicos {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
    justify-content: space-evenly
}

.descricoes .topicos:hover {
    cursor: pointer;
}

.descricoes .paragrafos {
    display: flex;
    flex-direction: row;
    background-color: #798871
}

.descricoes .paragrafos p {
    margin: 1rem;
}

.beneficios {
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    justify-content: center;
    align-items: center;
}

.botoesBeneficios {
    display: flex;
    flex-direction: row;
}

.cards {
    display: flex;
    flex-direction: row; 
}

.alunos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
    background-color: #798871
}

@media (max-width: 768px) {

}