.login{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: green;
}

.logo{
    float: left;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    object-fit: cover;
    height: 40rem;
    width: 50rem;
}

.logo h1{
    position: absolute;
    bottom: 0;
}

.formulario{
    float: right;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.insertEnter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lembrar{
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.lembrar a{
    color: blue;
}

.mantConectado{
    margin-left: 15px;
}

.cadastrar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.cadastrar a{
    color: blue
}

input                            {
    width: 350px;
    height: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.input-com-icone {
    position: relative;
    width: 100%; /* ou a largura do seu input */
    display: flex;
    justify-content: center;
}

/* Garante que o input dentro do container ocupe todo o espaço */
.input-com-icone input {
    width: 100%;
    padding-right: 40px; /* Adiciona espaço à direita para o ícone não sobrepor o texto */
}

/* Estiliza e posiciona o ícone */
.icone-senha {
    position: absolute;
    right: 10px; /* Distância da borda direita */
    top: 50%;
    transform: translateY(-50%); /* Centraliza verticalmente */
    cursor: pointer;
    color: #888; /* Cor do ícone */
}