.bb {
    height: 6vh;
    width: 50vh;
    margin-bottom: 10px;
    border-radius: 25px;
    border: 2px solid #DCDCDC;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #36A108;
}

.pagPegCarbono{
    margin-left: 1%;
}

.textoCarbono{
    width: 30%;
    float: left;
    display: block;
    margin-bottom: 10%;
}

.textoCarbono p{
    font-size: 20px;
    font-weight: 500;
}

.questionario{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    justify-content: center;
}