
.pagPlaSolar {
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}

.textoSolar {
    width: 30%;
    float: left;
    margin-bottom: 10%;
}

.textoSolar h1 {
    white-space: nowrap;
}

.calculoSolar form {
    display: flex;
    flex-direction: column;
    width: 450px;
    align-items: center;
}



.input-container {
  position: relative;
  width: 100%;
  margin: 22px 0 10px 0;
}

.input-container input {
  background-color: white; 

  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 10px;
  width: 100%;
  font-size: 1rem;
  box-sizing: border-box;
  color: #333;
  font-family: Alexandria;
}

.input-container label {
  position: absolute;
  top: 12px;
  left: 10px;
  color: #999;
  background-color: white; 
  padding: 0 5px;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
    font-family: Alexandria;

}

.input-container input:focus + label,
.input-container input:not(:placeholder-shown) + label {
  top: -10px;
  left: 5px;
  font-size: 0.8rem;
  color: #234F1E; 
}

.input-container input:focus {
  outline: none;
  border-color: #234F1E;
}


@media (max-width: 768px) {
    .pagPlaSolar {
        margin: 0.5rem;
        flex-direction: column;
        height: auto; 
        padding: 2rem 0; 
    }

    .textoSolar {
        width: 90%;
        margin-bottom: 2rem; 
        text-align: center;
    }

    .calculoSolar form {
        width: 90%;
    }
}