.pagPlaSolar {
    display: flex;
    flex-direction: row;
    height: 80vh;
    justify-content: space-evenly;
    align-items: center;
}

.textoSolar {
    width: 30%;
    float: left;
    margin-bottom: 10%;
}

.textoSolar p {
    font-size: 20px;
    font-weight: 500;
}

.textoSolar h1 {
    white-space: nowrap;
}

.calculoSolar form {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .pagPlaSolar {
        margin: 0.5rem;
        flex-direction: column;
    }

    .textoSolar {
        width: 100%;
    }

    .calculoSolar form {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}