.rodape {
    height: 30vh;
    width: 100%;
    bottom: 0;
    color: #FFFFFF;
    background-color:#638400;
    flex-direction: column
}

.parteSuperior {

}

.parteInferior {
    display: flex;
    align-items: center;
    justify-content: space-evenly
}

.direitosReservados {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end
}

.duvidas {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.duvidas a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}

.duvidas a:hover {
    text-decoration: underline;
}

.redesSociais {
    justify-content: center;
    align-items: center;
}